<section>
    <div class="ADProductsAddingFormDiv">
        <div class="container">
            <div class="ADProductsAddingMainDiv">
                <div class="ADProductsAddingFormDiv__title">
                    {{#if editBinder}}
                    <p>Edit Binder</p>
                    {{else}}
                    <p>Add Binder</p>
                    {{/if}}
                    <hr>
                </div>
                {{#if editBinder}}
                <form action="/admin/UpdateBinder" method="post">
                    {{else}}
                    <form action="/admin/AddBinder" method="post">
                        {{/if}}
                        <div class="ADFormAdding">

                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Binder Name</p>
                                    {{#if editBinder}}
                                    <input type="text" id="Product_Namr" name="Binder_Name" class="ADProductInputBox"
                                        value="{{Binder.Binder_Name}}" required>
                                    <input type="text" name="Binder_Id" class="ADProductInputBox"
                                        value="{{Binder.Binder_Id}}" hidden required>
                                    {{else}}
                                    <input type="text" id="Product_Namr" name="Binder_Name" class="ADProductInputBox"
                                        required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Density (ml/1000g)</p>
                                    {{#if editBinder}}
                                    <input type="number" name="Binder_Density" class="ADProductInputBox"
                                        value="{{Binder.Binder_Density}}" required>
                                    {{else}}
                                    <input type="number" name="Binder_Density" class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Price</p>
                                    {{#if editBinder}}
                                    <input type="number" step="any" name="cost" class="ADProductInputBox"
                                        value="{{Binder.cost}}" required>
                                    {{else}}
                                    <input type="number" step="any" name="cost" class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Unit</p>
                                    <select name="PriceUnit" id="" class="ADProductInputBox" required>
                                        {{#if editBinder}}
                                        {{#if PriceUnitLtr}}
                                        <option value="Ltr">Liter</option>
                                        <option value="kg">Kilogram</option>
                                        {{else}}
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}
                                        {{else}}
                                        <option selected disabled hidden>Select Unit For Price</option>
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                            {{!-- Prices For Customers start here --}}
                            <div class="ADFormAddingCatgorySelection ADFormCustomerPrice">
                                <div class="AFroemCustPriceHead">
                                    <p class="ADSubCategorySelectionLabel ADFromPriceForCust">Price for customers</p>
                                </div>
                                <hr>
                                <div id="ADFormCustPriceBody" class="ADFormCustPriceBody">

                                </div>
                            </div>

                            {{!-- Price for customers Ends Here --}}


                            {{!-- <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Stock</p>
                                    {{#if editBinder}}
                                    <input type="number" name="Stock" class="ADProductInputBox" value="{{Binder.Stock}}"
                                        required>
                                    {{else}}
                                    <input type="number" name="Stock" class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                            </div> --}}
                            <button class="ADPRoductSubmitBTN" type="submit"> Submit </button>
                            {{#if editBinder}}
                            <script>
                                function confirmProductDelete() {
                                    return confirm('Are you sure you want to delete this Binder?');
                                }
                            </script>

                            <a class="btn btn-danger productDeleteBTN" onclick="return confirmProductDelete()"
                                href="/admin/deleteBinder/{{this.Binder_Id}}">Delete Binder</a>
                            {{/if}}
                        </div>

                    </form>
            </div>
        </div>
    </div>
</section>


<script>

    function fetchCustomerCategories() {
        return fetch('/admin/getallcustmercategories')
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    function fetchProductDetails() {
        var Product = document.getElementById('Product_Namr').value;
        return fetch(`/admin/getallcustmercategoriesybyBinder/${Product}`)
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    function EditCategoryInputs(categories) {
        fetchProductDetails().then(ProductDetails => {
            const formCustPriceBody = document.getElementById('ADFormCustPriceBody');

            for (let i = 1; i <= categories.length; i++) {
                const categoryNumber = i;
                const category = categories[i - 1];

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'ADFormCustPriceRow';

                const label = document.createElement('p');
                label.className = 'ADSubCategorySelectionLabel';
                label.textContent = categories[i - 1].Category;

                const HiddenInput = document.createElement('input');
                HiddenInput.hidden = true;
                HiddenInput.type = 'text';
                HiddenInput.step = 'any';
                HiddenInput.name = `CategoryName_${i}`;
                HiddenInput.value = categories[i - 1].Category;
                HiddenInput.className = 'ADFormCustInp ADProductInputBox';
                HiddenInput.required = true;

                const input = document.createElement('input');
                input.type = 'number';
                input.step = 'any';
                input.name = `Category_${i}`;
                input.className = 'ADFormCustInp ADProductInputBox';
                input.required = true;
                if (ProductDetails[`Category_${i}`]) {
                    input.value = ProductDetails[`Category_${i}`];
                }

                categoryDiv.appendChild(label);
                categoryDiv.appendChild(HiddenInput);
                categoryDiv.appendChild(input);
                formCustPriceBody.appendChild(categoryDiv);
            }
        })
    }

    function createCategoryInputs(categories) {
        const formCustPriceBody = document.getElementById('ADFormCustPriceBody');

        for (let i = 1; i <= categories.length; i++) {
            const categoryNumber = i;
            const category = categories[i - 1];

            const categoryDiv = document.createElement('div');
            categoryDiv.className = 'ADFormCustPriceRow';

            const label = document.createElement('p');
            label.className = 'ADSubCategorySelectionLabel';
            label.textContent = categories[i - 1].Category;

            const HiddenInput = document.createElement('input');
            HiddenInput.hidden = true;
            HiddenInput.type = 'text';
            HiddenInput.step = 'any';
            HiddenInput.name = `CategoryName_${i}`;
            HiddenInput.value = categories[i - 1].Category;
            HiddenInput.className = 'ADFormCustInp ADProductInputBox';
            HiddenInput.required = true;

            const input = document.createElement('input');
            input.type = 'number';
            input.step = 'any';
            input.name = `Category_${i}`;
            input.className = 'ADFormCustInp ADProductInputBox';
            input.required = true;

            categoryDiv.appendChild(label);
            categoryDiv.appendChild(HiddenInput);
            categoryDiv.appendChild(input);
            formCustPriceBody.appendChild(categoryDiv);
        }
    }


    window.onload = function () {
        fetchCustomerCategories().then(categories => {

            var Product = document.getElementById('Product_Namr').value;
            // console.log(Product);

            if (Product) {
                EditCategoryInputs(categories);
            } else {
                createCategoryInputs(categories);
            }

        });
    };





</script>