<section>
    <div class="ADProductsAddingFormDiv">
        <div class="container">
            <div class="ADProductsAddingMainDiv">
                <div class="ADProductsAddingFormDiv__title">
                    {{#if editProduct}}
                    <p>Edit product</p>
                    {{else}}
                    <p>Add product</p>
                    {{/if}}
                    <hr>
                </div>
                {{#if editProduct}}
                <form action="/admin/UpdateProducts" method="post">
                    {{else}}
                    <form action="/admin/addProducts" method="post">
                        {{/if}}
                        <div class="ADFormAdding">
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">

                                    {{#if editProduct}}
                                    {{else}}
                                    <p class="ADSubCategorySelectionLabel">Select Category</p>
                                    <select required class="ADSubCategorySelectionSelectBox" name="Category"
                                        id="CategorySelect">
                                        {{#each AllCategory}}
                                        <option class="ADSelectCategoryOptions" value="{{this.Category_Id}}">
                                            {{this.Category_Id}} -
                                            {{this.Category}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}

                                </div>
                                <div class="ADFromAddingSingleRow">

                                    {{#if editProduct}}
                                    {{else}}
                                    <p class="ADSubCategorySelectionLabel">Select Sub Category</p>
                                    <select required class="ADSubCategorySelectionSelectBox" name="SubCategory"
                                        id="SubCategorySelect">
                                        {{#each AllSubCategory}}
                                        <option class="ADSelectCategoryOptions" value="{{this.SubCategory_Id}}">
                                            {{this.SubCategory_Id}} - {{this.SubCategory}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}

                                </div>
                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div style="width: 80%;" class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Product Name</p>
                                    {{#if editProduct}}
                                    <input type="text" id="Product_Namr" style="width: 69%;" name="Product_Name"
                                        class="ADProductInputBox " value="{{product.Product_Name}}" required>
                                    {{!-- <input type="text" name="Product_Id" class="ADProductInputBox"
                                        value="{{product.Product_Id}}" hidden required> --}}
                                    {{else}}
                                    <input type="text" id="Product_Namr" style="width: 69%;" name="Product_Name"
                                        class="ADProductInputBox " required>
                                    {{/if}}
                                </div>
                                {{!-- <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Density (ml/1000g)</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" value="{{product.Product_Density}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div> --}}
                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Product Id</p>
                                    {{#if editProduct}}
                                    <input type="text" id="Product_Id" name="Product_Id"
                                        class="ADProductInputBox BarCodeScan" value="{{product.Product_Id}}"
                                        placeholder="scan product barcode" required>
                                    <input type="text" id="Product_Id" name="OldProduct_Id"
                                        class="ADProductInputBox BarCodeScan" value="{{product.Product_Id}}"
                                        placeholder="scan product barcode" required hidden readonly>
                                    {{else}}
                                    <input type="text" placeholder="scan product barcode" id="Product_Id"
                                        name="Product_Id" class="ADProductInputBox BarCodeScan" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Density (ml/1000g)</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" value="{{product.Product_Density}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Abbreviation</p>
                                    {{#if editProduct}}
                                    <input type="text" name="Abbreviation" class="ADProductInputBox"
                                        value="{{product.Abbreviation}}" required>
                                    {{else}}
                                    <input type="text" name="Abbreviation" class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Group</p>
                                    {{#if editProduct}}
                                    <select required class="ADSubCategorySelectionSelectBox" name="GroupName"
                                        id="SubCategorySelect">
                                        {{#each AllProductGroups}}
                                        <option class="ADSelectCategoryOptions" value="{{this.GroupName}}">
                                            {{this.GroupName}}</option>
                                        {{/each}}
                                    </select>
                                    {{else}}
                                    <select required class="ADSubCategorySelectionSelectBox" name="GroupName"
                                        id="SubCategorySelect">
                                        {{#each AllProductGroups}}
                                        <option class="ADSelectCategoryOptions" value="{{this.GroupName}}">
                                            {{this.GroupName}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}
                                </div>

                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Price</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="Price"
                                        class="ADProductInputBox" value="{{product.Price}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="Price"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Unit</p>
                                    <select name="PriceUnit" id="" class="ADProductInputBox" required>
                                        {{#if editProduct}}
                                        {{#if PriceUnitLtr}}
                                        <option value="Ltr">Liter</option>
                                        <option value="kg">Kilogram</option>
                                        {{else}}
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}
                                        {{else}}
                                        <option selected disabled hidden>Select Unit For Price</option>
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                            <div class="ADFormAddingCatgorySelection">
                                {{!-- <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Product Name</p>
                                    {{#if editProduct}}
                                    <input type="text" id="Product_Namr" name="Product_Name" class="ADProductInputBox"
                                        value="{{product.Product_Name}}" required>
                                    <input type="text" name="Product_Id" class="ADProductInputBox"
                                        value="{{product.Product_Id}}" hidden required>
                                    {{else}}
                                    <input type="text" id="Product_Namr" name="Product_Name" class="ADProductInputBox"
                                        required>
                                    {{/if}}
                                </div> --}}
                                {{!-- <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Density (ml/1000g)</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" value="{{product.Product_Density}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" name="Product_Density"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div> --}}
                            </div>

                            {{!-- Prices For Customers start here --}}
                            <div class="ADFormAddingCatgorySelection ADFormCustomerPrice">
                                <div class="AFroemCustPriceHead">
                                    <p class="ADSubCategorySelectionLabel ADFromPriceForCust">Price for customers</p>
                                </div>
                                <hr>
                                <div id="ADFormCustPriceBody" class="ADFormCustPriceBody">

                                </div>
                            </div>

                            {{!-- Price for customers Ends Here --}}

                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Standard Quantity</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="StandardQuatity"
                                        class="ADProductInputBox" value="{{product.StandardQuatity}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="StandardQuatity"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Unit</p>
                                    <select name="StandardQuantityUnit" id="" class="ADProductInputBox">
                                        {{#if editProduct}}
                                        {{#if STDUnitLtr}}
                                        <option value="Ltr">Liter</option>
                                        <option value="kg">Kilogram</option>
                                        {{else}}
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}
                                        {{else}}
                                        <option selected disabled hidden>Select Unit For StandardQuatity</option>
                                        <option value="kg">Kilogram</option>
                                        <option value="Ltr">Liter</option>
                                        {{/if}}

                                    </select>
                                </div>
                            </div>
                            <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">VOC</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="VOC"
                                        class="ADProductInputBox" value="{{product.VOC}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="VOC"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Solid Content</p>
                                    {{#if editProduct}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="SolidContent"
                                        class="ADProductInputBox" value="{{product.SolidContent}}" required>
                                    {{else}}
                                    <input type="text" oninput="validateInput(this)" step="any" name="SolidContent"
                                        class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- <div class="ADFormAddingCatgorySelection">
                                <div class="ADFromAddingSingleRow">
                                    <p class="ADSubCategorySelectionLabel">Stock</p>
                                    {{#if editProduct}}
                                    {{#if RealStock}}
                                    <input type="number" name="Stock" class="ADProductInputBox" value="{{RealStock}}"
                                        required>
                                    {{else}}
                                    <input type="number" name="Stock" class="ADProductInputBox"
                                        value="{{product.Stock}}" required>
                                    {{/if}}
                                    {{else}}
                                    <input type="number" name="Stock" class="ADProductInputBox" required>
                                    {{/if}}
                                </div>
                            </div> --}}
                            <button class="ADPRoductSubmitBTN" type="submit"> Submit </button>
                            {{#if editProduct}}
                            <script>
                                function confirmProductDelete() {
                                    return confirm('Are you sure you want to delete this product?');
                                }
                            </script>
                            <a href="/admin/copyproduct/{{product.Product_Id}}"
                                class="btn btn-primary PCopyBtn ADPRoductSubmitBTN">Copy
                                This Product to other SubCategory</a>
                            <a class="btn btn-danger productDeleteBTN"
                                href="/admin/DeleteProduct/{{product.Product_Id}}"
                                onclick="return confirmProductDelete()">Delete Product</a>
                            {{/if}}
                        </div>

                    </form>
            </div>
        </div>
    </div>
</section>


<script>

    function fetchCustomerCategories() {
        return fetch('/admin/getallcustmercategories')
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    function fetchProductDetails() {
        var Product = document.getElementById('Product_Namr').value;
        return fetch(`/admin/getallcustmercategories/${Product}`)
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    function EditCategoryInputs(categories) {
        fetchProductDetails().then(ProductDetails => {
            const formCustPriceBody = document.getElementById('ADFormCustPriceBody');

            for (let i = 1; i <= categories.length; i++) {
                const categoryNumber = i;
                const category = categories[i - 1];

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'ADFormCustPriceRow';

                const label = document.createElement('p');
                label.className = 'ADSubCategorySelectionLabel';
                label.textContent = categories[i - 1].Category;

                const HiddenInput = document.createElement('input');
                HiddenInput.hidden = true;
                HiddenInput.type = 'text';
                HiddenInput.step = 'any';
                HiddenInput.name = `CategoryName_${i}`;
                HiddenInput.value = categories[i - 1].Category;
                HiddenInput.className = 'ADFormCustInp ADProductInputBox';
                HiddenInput.required = true;

                const input = document.createElement('input');
                input.type = 'text';
                input.oninput = function () {
                    validateInput(input);
                }
                input.step = 'any';
                input.name = `Category_${i}`;
                input.className = 'ADFormCustInp ADProductInputBox';
                input.required = true;
                if (ProductDetails[`Category_${i}`]) {
                    input.value = ProductDetails[`Category_${i}`];
                }

                categoryDiv.appendChild(label);
                categoryDiv.appendChild(HiddenInput);
                categoryDiv.appendChild(input);
                formCustPriceBody.appendChild(categoryDiv);
            }
        })
    }

    function createCategoryInputs(categories) {
        const formCustPriceBody = document.getElementById('ADFormCustPriceBody');

        for (let i = 1; i <= categories.length; i++) {
            const categoryNumber = i;
            const category = categories[i - 1];

            const categoryDiv = document.createElement('div');
            categoryDiv.className = 'ADFormCustPriceRow';

            const label = document.createElement('p');
            label.className = 'ADSubCategorySelectionLabel';
            label.textContent = categories[i - 1].Category;

            const HiddenInput = document.createElement('input');
            HiddenInput.hidden = true;
            HiddenInput.type = 'text';
            HiddenInput.step = 'any';
            HiddenInput.name = `CategoryName_${i}`;
            HiddenInput.value = categories[i - 1].Category;
            HiddenInput.className = 'ADFormCustInp ADProductInputBox';
            HiddenInput.required = true;

            const input = document.createElement('input');
            input.type = 'text';
            input.oninput = function () {
                validateInput(input);
            }
            input.step = 'any';
            input.name = `Category_${i}`;
            input.className = 'ADFormCustInp ADProductInputBox';
            input.required = true;

            categoryDiv.appendChild(label);
            categoryDiv.appendChild(HiddenInput);
            categoryDiv.appendChild(input);
            formCustPriceBody.appendChild(categoryDiv);
        }
    }


    window.onload = function () {
        fetchCustomerCategories().then(categories => {

            var Product = document.getElementById('Product_Namr').value;
            // console.log(Product);

            if (Product) {
                EditCategoryInputs(categories);
            } else {
                createCategoryInputs(categories);
            }

        });
    };




    //ajax
    function ADgetAllSubCategories() {
        return fetch('/admin/Subcategories/api')
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    function ADgetAllCategories() {
        return fetch('/admin/Categories/api')
            .then(response => response.json())
            .catch(error => {
                console.log('Error:', error);
            });
    }

    Promise.all([ADgetAllSubCategories(), ADgetAllCategories()])
        .then(([subCategories, categories]) => {
            // Process the retrieved subcategories and categories
            // console.log(subCategories);
            // console.log(categories);

            // Assign the values to the variables
            var subCategories = subCategories;
            var categories = categories;

            // Continue with your code here...



            // Get the category select element
            const categorySelect = document.getElementById('CategorySelect');

            // Get the subcategory select element
            const subCategorySelect = document.getElementById('SubCategorySelect');

            // Add an event listener to the category select element
            if (categorySelect) {
                categorySelect.addEventListener('change', () => {
                    // Get the selected category ID
                    const categoryId = categorySelect.value;

                    // Filter the subcategories based on the selected category ID
                    const filteredSubCategories = subCategories.filter(subCategory => subCategory.Category_Id === categoryId);

                    // Clear the subcategory select box
                    subCategorySelect.innerHTML = '';

                    // Create and append the option elements for the filtered subcategories

                    if (filteredSubCategories.length > 0) {
                        filteredSubCategories.forEach(subCategory => {
                            const option = document.createElement('option');
                            option.value = subCategory.SubCategory_Id;
                            option.textContent = subCategory.SubCategory;
                            subCategorySelect.appendChild(option);
                        });
                        // Enable the subcategory select box
                        subCategorySelect.disabled = false;
                    } else {
                        // Add a "No Subcategory" option
                        const option = document.createElement('option');
                        option.textContent = 'No SubCategory available';
                        subCategorySelect.appendChild(option);

                        // Disable the subcategory select box
                        subCategorySelect.disabled = true;
                    }
                });
            }
        });

    function isValidNumber(input) {
        const regex = /^[0-9]+(\.[0-9]+)?$/;
        return regex.test(input);
    }

    function validateInput(element) {
        if (!isValidNumber(element.value)) {
            element.setCustomValidity('Please enter a valid number.');
        } else {
            element.setCustomValidity('');
        }
    }

</script>