<section>
    <div class="ADSubCategoryWholeFrame">
        <div class="container">
            <div class="ADSubCategorySubPageSsection">
                <div class="col-md-11">
                    <div class="AddSubCategoryPage">
                        {{#if EditSubcategory}}
                        <p class="ADAddCategoryFromHeader text-center">Edit Sub Category</p>
                        <div class="ADEditSubRProDiv">
                            <a href="/admin/View-Product-from-subcategory/{{SubCategory.SubCategory_Id}}"
                                class="viewProductsBTN text-center">View Products</a>
                        </div>
                        {{else}}
                        <p class="ADAddCategoryFromHeader text-center">Add Sub Category</p>
                        {{/if}}
                        <hr>
                        {{#if EditSubcategory}}
                        <form action="/admin/EditSubCategory" method="post">
                            {{else}}
                            <form action="/admin/AddSubCategory" method="post">
                                {{/if}}
                                <div class="ADAddCategoryFromDiv">
                                    <p class="ADAddCategoryLabel">Select Category</p>
                                    <select class="ADSelectCategory" name="Category_Id" id="">
                                        {{#each AllCategory}}
                                        <option class="ADSelectCategoryOptions" value="{{this.Category_Id}}">
                                            {{this.Category_Id}} -
                                            {{this.Category}}</option>
                                        {{/each}}
                                    </select>
                                    <p class="ADAddCategoryLabel">Sub Category Name:</p>
                                    {{#if EditSubcategory}}
                                    <input required class="ADAddCategoryTextInput" type="text" name="SubCategory"
                                        placeholder="Enter the Name of Sub Category"
                                        value="{{SubCategory.SubCategory}}">
                                    {{else}}
                                    <input required class="ADAddCategoryTextInput" type="text" name="SubCategory"
                                        placeholder="Enter the Name of Sub Category">
                                    {{/if}}

                                    <div class="ADPopUpRadioButtonDIV">
                                        {{!-- unit RAdio Button --}}
                                        <p class="ADAddCategoryLabel">Brand:</p>

                                        {{#if Mipa}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="mipa" name="Mipa" checked>
                                            <label for="mipa">Mipa</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="mipa" name="Mipa">
                                            <label for="mipa">Mipa</label>
                                        </div>
                                        {{/if}}

                                        {{#if Rosner}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="rosner" name="Rosner" checked>
                                            <label for="rosner">Rosner</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="rosner" name="Rosner">
                                            <label for="rosner">Rosner</label>
                                        </div>
                                        {{/if}}
                                    </div>


                                    <div class="ADPopUpRadioButtonDIV">
                                        {{!-- unit RAdio Button --}}
                                        <p class="ADAddCategoryLabel">Unit:</p>

                                        {{#if Gram}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="gram" name="Gram" checked>
                                            <label for="gram">Kilo Gram</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="gram" name="Gram">
                                            <label for="gram">Kilo Gram</label>
                                        </div>
                                        {{/if}}

                                        {{#if Liter}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="liter" name="Liter" checked>
                                            <label for="liter">Liter</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="liter" name="Liter">
                                            <label for="liter">Liter</label>
                                        </div>
                                        {{/if}}
                                    </div>

                                    <div class="ADPopUpRadioButtonDIV">
                                        {{!-- shine radio BTN --}}

                                        <p class="ADAddCategoryLabel">Level of Shine:</p>
                                        {{#if Matt}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="matt" name="Matt" checked>
                                            <label for="matt">Matt</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="matt" name="Matt">
                                            <label for="matt">Matt</label>
                                        </div>
                                        {{/if}}


                                        {{#if Gloss}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="gloss" name="Gloss" checked>
                                            <label for="gloss">Gloss</label>
                                        </div>
                                        {{else}}
                                        <div class="ADPopUpRadioButton">
                                            <input type="radio" id="gloss" name="Gloss">
                                            <label for="gloss">Gloss</label>
                                        </div>
                                        {{/if}}
                                    </div>


                                    {{!-- Select Binder --}}
                                    <div class="BinderSelectDiv">
                                        <div class="ADBinderPkg">
                                            <div class="ADEachBinder">
                                                <p class="ADAddCategoryLabel">Select Binder 1:</p>
                                                <select class="BinderSelect" name="Binder1" id="Binder1">

                                                    {{#if EditSubcategory}}
                                                    {{else}}
                                                    <option value="">Select an option</option>
                                                    {{/if}}

                                                    {{#each Binders}}
                                                    <option value="{{this.Binder_Id}}">{{this.Binder_Id}} -
                                                        {{this.Binder_Name}}
                                                    </option>
                                                    {{/each}}

                                                    {{#if EditSubcategory}}
                                                    <option value="">Select an option</option>
                                                    {{else}}
                                                    {{/if}}
                                                </select>
                                            </div>
                                            {{!-- <div class="ADEachBinder">
                                                <p class="ADAddCategoryLabel"> Binder 1 Percentage %:</p>

                                                <input type="number" min="0" placeholder="Binder 1 Percentage %"
                                                    class="BinderSelect" name="Binder1Percentage" readonly
                                                    value="{{SubCategory.Binder1Percentage}}" id="Binder1Percentage" />
                                            </div> --}}
                                        </div>
                                        <div class="Binder1EquationDiv">
                                            <p class="Binder1EquationLabel">
                                                Binder 1 Equation
                                            </p>
                                            <div class="Binder1EquationBorderDiv">
                                                <div class="Binder1EquationTopSection">
                                                    <p>( Total tinter X </p>
                                                    <input type="text" name="Binder1Avalue" class="BinderInputVariable"
                                                        oninput="validateNumericInput(this)"
                                                        value="{{SubCategory.Binder1Avalue}}">
                                                    <p> X Gloss or Matt ) - ( </p>
                                                    <input type="text" name="Binder1Bvalue" class="BinderInputVariable"
                                                        oninput="validateNumericInput(this)"
                                                        value="{{SubCategory.Binder1Bvalue}}">
                                                    <p> X </p>
                                                    <input type="text" name="Binder1Cvalue" class="BinderInputVariable"
                                                        oninput="validateNumericInput(this)"
                                                        value="{{SubCategory.Binder1Cvalue}}">
                                                    <p> X Total tinter )</p>
                                                </div>
                                                <hr>
                                                <div class="Binder1EquationBottomSection">
                                                    <input type="text" name="Binder1dvalue" class="BinderInputVariable"
                                                        oninput="validateNumericInput(this)"
                                                        value="{{SubCategory.Binder1dvalue}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div c+lass="DivForVerticalGap"></div>
                                        <div class="ADBinderPkg">
                                            <div class="ADEachBinder">
                                                <p class="ADAddCategoryLabel">Select Binder 2:</p>
                                                {{#if Binder2}}
                                                <select class="BinderSelect" name="Binder2" id="Binder2">
                                                    {{#each Binder2}}
                                                    <option value="{{this.Binder_Id}}">{{this.Binder_Id}} -
                                                        {{this.Binder_Name}}
                                                    </option>
                                                    {{/each}}
                                                    <option value="">Select an option</option>
                                                </select>
                                                {{else}}
                                                <select class="BinderSelect" name="Binder2" id="Binder2" readonly>
                                                    <option value="">Select an option</option>
                                                    {{#each Binders}}
                                                    <option value="{{this.Binder_Id}}">{{this.Binder_Id}} -
                                                        {{this.Binder_Name}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                                {{/if}}
                                            </div>
                                            {{!-- <div class="ADEachBinder">
                                                <p class="ADAddCategoryLabel"> Binder 2 Percentage %:</p>
                                                <input type="number" min="0" placeholder="Binder 2 Percentage %"
                                                    class="BinderSelect" name="Binder2Percentage" id="Binder2Percentage"
                                                    value="{{SubCategory.Binder2Percentage}}" />
                                            </div> --}}
                                        </div>

                                        <div class="Binder2EquationDiv">

                                            <p class="Binder1EquationLabel"> Binder 2 Equation </p>

                                            <div class="Binder2EquationTypeSelection">
                                                <div class="Binder2EQSec ">
                                                    <div class="Binder2RadioTypeDiv">
                                                        <input type="radio" id="Binder2EQ1" name="Binder2EQ1">
                                                        <label for="Binder2EQ1">Equation with Binder 1 value</label>
                                                    </div>
                                                    <div class="Binder2RadioTypeDiv">
                                                        <input type="radio" id="Binder2EQ2" name="Binder2EQ2">
                                                        <label for="Binder2EQ2">Equation without Binder 1 value</label>
                                                    </div>
                                                </div>
                                                <div class="Binder2EquationClearBTNDIV">
                                                    <input type="button" name="" onclick="Binder2EQCLearBtn()"
                                                        class="Binder2EQCLearBtn" id="" value="Clear Binder 2 Equation">
                                                </div>
                                            </div>

                                            <div hidden>
                                                <input type="text" name="Binder2XvalueHidden" id="Binder2XvalueHidden"
                                                    class="BinderInputVariable" value="{{SubCategory.Binder2Avalue}}">

                                                <input type="text" name="Binder2XWithoutB1Hidden"
                                                    id="Binder2XWithoutB1Hidden" class="BinderInputVariable"
                                                    value="{{SubCategory.Binder2EQ2}}">

                                                <input type="text" name="Binder2XwithB1Hidden" id="Binder2XwithB1Hidden"
                                                    class="BinderInputVariable" value="{{SubCategory.Binder2EQ1}}">
                                            </div>
                                            <div class="Binder2EqBorderDiv" id="Binder2EqBorderDiv">
                                                {{!-- <p>( Total tinter X </p>
                                                <input type="text" name="Binder1Avalue" class="BinderInputVariable"
                                                    required>
                                                <p> ) - Value of Binder 1 </p> --}}

                                            </div>
                                        </div>

                                    </div>



                                    <p class="ADAddCategoryLabel">Remarks</p>
                                    <input class="ADAddCategoryTextInput" type="text" name="Remarks"
                                        placeholder="Enter Remarks" required value="{{SubCategory.Remarks}}">

                                    {{#if EditSubcategory}}
                                    <button type="submit" class="btn btn-primary ADaddCategorySubmitBTN ">Edit
                                        Sub
                                        Category</button>
                                    {{else}}
                                    <button type="submit" class="btn btn-primary ADaddCategorySubmitBTN ">Add
                                        Sub
                                        Category</button>
                                    {{/if}}
                                </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Get references to the select and input elements
        var Binder1Select = document.getElementById("Binder1");
        var Binder1PercetageInp = document.getElementById("Binder1Percentage");
        var Binder2Select = document.getElementById("Binder2");
        var Binder2PercetageInp = document.getElementById("Binder2Percentage");

        /*// Function to handle the change event
        function handleBinder1Change() {
            // Check if the select element is not empty or null
            if (Binder1Select.value) {
                // If a value is selected, enable the input
                Binder1PercetageInp.removeAttribute("readonly");
            } else {
                // If no value is selected, disable the input
                Binder1PercetageInp.setAttribute("readonly", true);
                Binder1PercetageInp.value = "";
            }

        }

        function handleBinder2Change() {
            // Check if the select element is not empty or null
            if (Binder2Select.value) {
                // If a value is selected, enable the input
                Binder2PercetageInp.removeAttribute("readonly");
            } else {
                // If no value is selected, disable the input
                Binder2PercetageInp.setAttribute("readonly", true);
                Binder2PercetageInp.value = "";
            }
        }*/

        /*  // Attach the change event listener to the select element
          Binder1Select.addEventListener("change", handleBinder1Change);
          Binder2Select.addEventListener("change", handleBinder2Change);
  
          // Call the event handler initially to set the initial state
          handleBinder1Change();
          handleBinder2Change();*/
        handleBinder2Equation();
    });


    $(document).ready(function () {
        // Disable Binder 2 initially
        //$("#Binder2").prop("disabled", true);

        // Function to handle Binder 1 change event
        $("#Binder1").change(function () {
            var selectedValue = $(this).val(); // Get the selected value

            if (selectedValue === "") {
                // If Binder 1 is unselected, disable Binder 2 and reset its value
                alert("SelectedValue: ", selectedValue)
                $("#Binder2").prop("disabled", true).val("");
            } else {
                // If Binder 1 is selected, enable Binder 2
                $("#Binder2").prop("disabled", false);

                // Enable all options in Binder 2
                $("#Binder2 option").prop("disabled", false);

                // Disable the selected option in Binder 2 if it matches Binder 1
                $("#Binder2 option[value='" + selectedValue + "']").prop("disabled", true);
            }
        });

        // Function to handle Binder 2 change event
        $("#Binder2").change(function () {
            var selectedValue = $(this).val(); // Get the selected value

            if (selectedValue !== "") {
                // Disable the selected option in Binder 1 if it matches Binder 2
                $("#Binder1 option[value='" + selectedValue + "']").prop("disabled", true);
            } else {
                // Enable all options in Binder 1 when "Select an option" is selected in Binder 2
                $("#Binder1 option").prop("disabled", false);
            }
        });

        // Handle radio button behavior for Shine
        $("input[type=radio][name=Matt]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Gloss]").prop("checked", false);
            }
        });

        $("input[type=radio][name=Gloss]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Matt]").prop("checked", false);
            }
        });

        // Handle radio button behavior for Unit
        $("input[type=radio][name=Gram]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Liter]").prop("checked", false);
            }
        });

        $("input[type=radio][name=Liter]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Gram]").prop("checked", false);
            }
        });

        // Handle radio button behavior for Brand
        $("input[type=radio][name=Mipa]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Rosner]").prop("checked", false);
            }
        });

        $("input[type=radio][name=Rosner]").change(function () {
            if (this.checked) {
                $("input[type=radio][name=Mipa]").prop("checked", false);
            }
        });
    });



    // radio button

    const mattRadio = document.getElementById('matt');
    const glossRadio = document.getElementById('gloss');

    // Add event listener to the matt radio button
    mattRadio.addEventListener('change', function () {
        if (mattRadio.checked) {
            glossRadio.checked = false;
        }
    });

    // Add event listener to the gloss radio button
    glossRadio.addEventListener('change', function () {
        if (glossRadio.checked) {
            mattRadio.checked = false;
        }
    });


    const Gram = document.getElementById('gram');
    const Liter = document.getElementById('liter');

    // Add event listener to the matt radio button
    Gram.addEventListener('change', function () {
        if (Gram.checked) {
            Liter.checked = false;
        }
    });

    // Add event listener to the gloss radio button
    Liter.addEventListener('change', function () {
        if (Liter.checked) {
            Gram.checked = false;
        }
    });

    const Mipa = document.getElementById('mipa');
    const Rosner = document.getElementById('rosner');


    // Add event listener to the Mipa radio button
    Mipa.addEventListener('change', function () {
        if (Mipa.checked) {
            Rosner.checked = false;
        }
    });

    // Add event listener to the Rosner radio button
    Rosner.addEventListener('change', function () {
        if (Rosner.checked) {
            Mipa.checked = false;
        }
    });



    const Binder2EQ1 = document.getElementById('Binder2EQ1');
    const Binder2EQ2 = document.getElementById('Binder2EQ2');


    // Add event listener to the Binder2EQ1 radio button
    Binder2EQ1.addEventListener('change', function () {
        if (Binder2EQ1.checked) {
            Binder2EQ2.checked = false;
            ShowBinder2EQ1()
        }
    });

    // Add event listener to the Binder2EQ2 radio button
    Binder2EQ2.addEventListener('change', function () {
        if (Binder2EQ2.checked) {
            Binder2EQ1.checked = false;
            ShowBinder2EQ2()
        }
    });


    function ShowBinder2EQ1(value) {
        var Binder2EqBorderDiv = document.getElementById('Binder2EqBorderDiv');
        if (value) {

            Binder2EqBorderDiv.innerHTML = `
        <p>( Total tinter X </p>
        <input type="text" name="Binder2Avalue" id="Binder2Avalue" value="${value}" class="BinderInputVariable" oninput="validateNumericInput(this)"  required>
        <p> ) - Value of Binder 1 </p>`;
        } else {
            Binder2EqBorderDiv.innerHTML = `
        <p>( Total tinter X </p>
        <input type="text" name="Binder2Avalue" id="Binder2Avalue"  class="BinderInputVariable" oninput="validateNumericInput(this)" required>
        <p> ) - Value of Binder 1 </p>`;
        }

        var Binder2 = document.getElementById('Binder2').value;
        if (!Binder2) {
            document.getElementById('Binder2Avalue').required = false;
        }
    }

    function ShowBinder2EQ2(value) {
        var Binder2EqBorderDiv = document.getElementById('Binder2EqBorderDiv');
        if (value) {
            Binder2EqBorderDiv.innerHTML = `
        <p>Total tinter X </p>
        <input type="text" name="Binder2Avalue" id="Binder2Avalue" value="${value}" oninput="validateNumericInput(this)" class="BinderInputVariable" required>`;

        } else {
            Binder2EqBorderDiv.innerHTML = `
        <p>Total tinter X </p>
        <input type="text" name="Binder2Avalue" id="Binder2Avalue" oninput="validateNumericInput(this)" class="BinderInputVariable" required>`;

        }

        var Binder2 = document.getElementById('Binder2').value;
        if (!Binder2) {
            document.getElementById('Binder2Avalue').required = false;
        }
    }

    function Binder2EQCLearBtn() {
        Binder2EQ2.checked = false;
        Binder2EQ1.checked = false;
        var Binder2EqBorderDiv = document.getElementById('Binder2EqBorderDiv');
        Binder2EqBorderDiv.innerHTML = ``;
    }


    function handleBinder2Equation() {
        var Binder2XwithB1Hidden = document.getElementById('Binder2XwithB1Hidden');
        var Binder2XWithoutB1Hidden = document.getElementById('Binder2XWithoutB1Hidden');
        var Binder2XvalueHidden = document.getElementById('Binder2XvalueHidden');

        if (Binder2XwithB1Hidden.value) {
            ShowBinder2EQ1(Binder2XvalueHidden.value);
        }

        if (Binder2XWithoutB1Hidden.value) {
            ShowBinder2EQ2(Binder2XvalueHidden.value);
        }
    }

    function validateNumericInput(inputElement) {
        // Remove non-numeric characters from the input value
        inputElement.value = inputElement.value.replace(/\D/g, '');
    }




</script>

<style>
    .Binder1EquationBorderDiv,
    .Binder2EqBorderDiv {
        border: #000 1px solid;
        padding: 1rem;
        border-radius: 11px;
        margin-bottom: 2rem;
        width: 100%;
    }

    .ADAddCategoryFromHeader {
        font-size: 3rem;
    }

    .ADAddCategoryLabel,
    .Binder1EquationLabel {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .ADSelectCategory,
    .ADAddCategoryTextInput,
    .BinderSelect,
    .BinderSelect option {
        font-size: 1.5rem;
    }

    .Binder1EquationTopSection,
    .BinderInputVariable,
    .Binder2EqBorderDiv {
        font-size: 20px;
    }

    .Binder2EQCLearBtn {
        font-size: 1.5rem;
        font-weight: 700;
        color: red;
    }
</style>