<div id='center' class="main" style="text-align: left;">
    <div class="mainInner">
        <div>Welcome {{EmployeeName}}</div>
        <br>
        <div class="stocks">
            <p class="StockAlerts">Stock Alerts!</p>
            {{!-- for Products --}}
            {{#if Products}}
            <hr>
            <p class="ItemName">Products</p>
            {{#each Products}}
            <div class="EachItemDIv">
                <hr>
                <div class="StockAlertItemNameDiv">
                    <div class="StockAlertLayerDIv">
                        <p>Item Name : {{this.Product_Name}}</p>
                        <p class="RemainingStocks">Remaining Stocks: {{this.Stock}}</p>
                    </div>
                    {{!-- <div class="StockAlertLayerDIv">
                        <p>Category : PUR 5</p>
                        <p>SubCategory : POUY</p>
                    </div> --}}
                </div>
            </div>
            {{!-- sample --}}
            {{/each}}
            {{else}}
            {{/if}}
            <hr>
            <div class="StockVerticalGap"></div>
            {{!-- Binders --}}
            {{#if Binders}}
            <p class="ItemName">Binders</p>
            {{#each Binders}}
            <div class="EachItemDIv">
                <hr>
                <div class="StockAlertItemNameDiv">
                    <div class="StockAlertLayerDIv">
                        <p class="StocksData">Item Name : {{this.Binder_Name}}</p>
                        <p class="RemainingStocks">Remaining Stocks: {{this.Stock}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            {{/if}}
            <hr>
            <div class="StockVerticalGap"></div>
            {{!-- for Additives --}}
            {{#if Additives}}
            <p class="ItemName">Additives</p>
            {{#each Additives}}
            <div class="EachItemDIv">
                <hr>
                <div class="StockAlertItemNameDiv">
                    <div class="StockAlertLayerDIv">
                        <p>Item Name : {{this.Additive_Name}}</p>
                        <p class="RemainingStocks">Remaining Stocks: {{this.Stock}}</p>
                    </div>
                    {{!-- <div class="StockAlertLayerDIv">
                        <p>Category : PUR 5</p>
                        <p>SubCategory : POUY</p>
                    </div> --}}
                </div>
            </div>
            {{/each}}
            {{else}}
            {{/if}}
        </div>
    </div>
</div>

<style>
    .main {

        display: block;
        margin-top: 60px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 80px;
        margin-left: 25px;
    }

    .mainInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 100%;
        margin: 0 auto;
        /* Add this line */
    }


    .mainInner div {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }


    .stocks {
        border: 1px solid #000;
        border-radius: 10px;
        width: 50vw;
        margin-top: 30px;
        margin-left: 30px;
        padding: 20px;
        margin-left: -2rem;
    }

    .StockAlerts {
        font-size: 25px;
        font-weight: 600;
        color: red;
    }

    .StockAlertLayerDIv {
        display: flex;
        justify-content: space-between;
    }

    .StocksData {
        color: rgb(48, 48, 48);
    }


    .StockAlertItemNameDiv {
        padding-right: 4rem;
    }

    .StockAlertItemNameDiv p {
        margin-bottom: 1rem;
        padding: 0;
    }

    .RemainingStocks {
        color: rgb(146, 1, 1);
    }

    .ItemName {
        font-size: 25px;
        font-weight: 700;
        color: black;
    }

    .StockVerticalGap {
        height: 2rem;
    }
</style>