<div class="MainPrintScreen">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            printContent();
            window.close();
        });



        function printContent() {
            var content = document.getElementById("print-content");
            var pri = window.open();
            pri.document.write(content.innerHTML);
            pri.document.close();
            pri.focus();
            pri.print();
            window.close();
        }


    </script>

    <div id="print-content">
        <div class="container">
            <div class="PLMainArea">
                <div class="row">
                    <div class="code">Color Code:</div>
                    <div class="value">{{Order.ColorCde}}</div>
                </div>
                <div class="row ">
                    <div class="column">
                        <div>Color Type: </div>
                        <div>Color Name: </div>
                        <div>Prepared on:</div>
                        <div>File no.:</div>
                    </div>
                    <div class="column">
                        <div class="value">{{Order.SubCategory}}</div>
                        <div class="value">{{Order.ColorName}}</div>
                        <div class="value">{{DateTime}}</div>
                        <div class="value">{{Order.FileName}}</div>
                    </div>
                </div>
                <div class="row PLSecondLevel">
                    <div class="Mixing">Mixing:</div>
                    <div class="small-text">
                        {{Order.remarks}}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>Solid Content (%):</div>
                        <div>Density (g/Ltr):</div>
                        <div>VOC (g/Ltr):</div>
                    </div>
                    <div class="column">
                        <div class="value">{{Order.SolidContent}}</div>
                        <div class="value">{{Order.Density}}</div>
                        <div class="value">{{Order.VOC}}</div>
                    </div>
                    <div>Quantity:</div>
                    {{#if Liter}}
                    <div>{{Order.Quantity}} Ltr</div>
                    {{else}}
                    <div>{{Order.Quantity}} Kg</div>
                    {{/if}}
                </div>
                <div class="row">
                    {{#if Mipa}}
                    <img class="mipa" src="/images/Logo/mipa.jpeg" alt="Paint Image" />
                    {{else}}
                    <img class="rosner" src="/images/Logo/rosner-logo.jpeg" alt="Paint Image" />
                    {{/if}}
                </div>
                <div class="row">
                </div>
            </div>
        </div>

        <style>
            body {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .container {
                border: 2px dotted black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
            }

            .PLMainArea {
                width: 100mm;
                height: 75mm;
            }

            .row {
                width: 100%;
                border-bottom: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .row:last-child {
                border-bottom: none;
            }

            .mipa {
                width: 40mm;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .rosner {
                height: auto;
                width: 25mm;
                margin-top: 1rem;
                margin-bottom: 1rem
            }

            .row:first-child {
                font-weight: bold;
                font-size: 14px;
            }

            .row:first-child .code {
                font-size: 18px;
                font-weight: bold;
            }

            /*.row:nth-child(2) .column {
      flex: 1;
      }*/

            .row:nth-child(4) {
                display: flex;
            }

            .row:nth-child(4) .column:last-child {
                border-right: none;
            }

            /*.row:nth-child(5) img {
                max-width: 700px;
                height: auto;
            }*/

            .row:nth-child(6) {
                font-size: 10px;
            }

            .row:nth-child(6) .small-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .PLSecondLevel {
                display: flex;
                justify-content: space-around;
                align-items: start;
            }
        </style>
    </div>
</div>